{% comment %}
  Juice Carousel Section
  - Mobile: Full-screen vertical swipe carousel
  - Desktop: Grid layout with hover effects
{% endcomment %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.js" defer></script>
<link rel="stylesheet" href="{{ 'juice.css' | asset_url }}" />
<script src="{{ 'juice.js' | asset_url }}" defer></script>

<div class="juice-container">
  {% comment %} Mobile: Swiper carousel {% endcomment %}
  <div class="juice-carousel swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep1: Tater Tots for Dinner</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/edd5c59952da4b1c8f42b14cb0acc3bc.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=50CAJ4WUSBM" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/1y4zFA7JejaTxvPRXbcAnZ?si=b0f5a027756b45a6" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/taters-tots-for-dinner/id1802040066?i=1000699079441" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep2: The Magic of Tajin</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/5b9fec398b4a48f697778e1b935a3878.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=Qt-8C8lfTdQ" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/0fDYsMYbj9CicYEROXLDPJ?si=6fe70bfe85814604" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/the-magic-of-tajin/id1802040066?i=1000699995100" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep3: Tomato Style</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/6a74c4f4098f4e33a8f8f5b187e660e9.mp4"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=QXvqdS-vfTM" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/0SKQEHbjStrCtVcM3aeW7F?si=480f9c46ad5d4631" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/tomato-style/id1802040066?i=1000700866868" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep4: Off the Rumchata</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/cd500c0db1ad472e809187b01d2c74c8.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=-fWY-OFJVCw" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/4Adyc4Vm6VxF3q8wKuGceo?si=270b731558414a39" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/off-the-rumchata/id1802040066?i=1000702226908" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep5: Bean & Cheese on the Rider" ft. Will Levy</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/26f2e6cdbca045269462d24a4075f429.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=B7cmHMVLVcs" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/7bLSCcz0FzYOk0ndERKH5L?si=765052f82102459d" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/bean-cheese-on-the-rider-ft-will-levy-of-the-story-so-far/id1802040066?i=1000703098231" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep6: Taking Beef Out For A Ride. UK Invasion Pt. 1</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/1f5c9373506e418a9c278d3c90405dcb.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=EciGLRQHoDs&pp=0gcJCbIJAYcqIYzv" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/4v4JT30jRLet32MpxyI53P?si=d46b640debf249c6" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/taking-beef-out-for-a-ride-uk-invasion-part-1/id1802040066?i=1000706541361" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep7: Beans for Breakfast, Pea Soup UK Invasion Pt. 2</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/7602a61df89a471fbee3402fbd2c8978.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=69ghRSQyjvA" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/48mgPhK1Ub12FNzkzv8W9E?si=a6c9e721e1b34997" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/beans-for-breakfast-pea-soup-for-the-soul-uk-invasion-part-2/id1802040066?i=1000708647864" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
      <div class="swiper-slide juice-card">
        <div class="juice-card__label">Ep8: UK Cheesesteaks, Coconut Milk & Cold Nuggets UK Invasion Pt. 3</div>
        <video
          class="juice-video"
          src="https://cdn.shopify.com/videos/c/o/v/ed6c4a65693d4e86b224ef2e22d8c282.mov"
          autoplay
          muted
          loop
          playsinline
        ></video>
        <div class="juice-card__platforms">
          <a href="https://www.youtube.com/watch?v=Sgt7xtjyjso" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
          <a href="https://open.spotify.com/episode/1oidwUhiSXcvUyEoQ8htjN?si=ca158e1fe4a94a02" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
          <a href="https://podcasts.apple.com/gb/podcast/uk-cheesesteaks-coconut-milk-cold-nuggets-uk-invasion/id1802040066?i=1000709610005" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  {% comment %} Desktop: Grid layout {% endcomment %}
  <div class="juice-grid">
    <div class="juice-card">
      <div class="juice-card__label">Ep1: Tater Tots for Dinner</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/edd5c59952da4b1c8f42b14cb0acc3bc.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=50CAJ4WUSBM" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/1y4zFA7JejaTxvPRXbcAnZ?si=b0f5a027756b45a6" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/taters-tots-for-dinner/id1802040066?i=1000699079441" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep2: The Magic of Tajin</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/5b9fec398b4a48f697778e1b935a3878.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=Qt-8C8lfTdQ" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/0fDYsMYbj9CicYEROXLDPJ?si=6fe70bfe85814604" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/the-magic-of-tajin/id1802040066?i=1000699995100" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep3: Tomato Style</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/6a74c4f4098f4e33a8f8f5b187e660e9.mp4"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=QXvqdS-vfTM" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/0SKQEHbjStrCtVcM3aeW7F?si=480f9c46ad5d4631" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/tomato-style/id1802040066?i=1000700866868" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep4: Off the Rumchata</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/cd500c0db1ad472e809187b01d2c74c8.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=-fWY-OFJVCw" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/4Adyc4Vm6VxF3q8wKuGceo?si=270b731558414a39" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/off-the-rumchata/id1802040066?i=1000702226908" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep5: Bean & Cheese on the Rider" ft. Will Levy</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/26f2e6cdbca045269462d24a4075f429.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=B7cmHMVLVcs" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/7bLSCcz0FzYOk0ndERKH5L?si=765052f82102459d" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/bean-cheese-on-the-rider-ft-will-levy-of-the-story-so-far/id1802040066?i=1000703098231" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep6: Taking Beef Out For A Ride. UK Invasion Pt. 1</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/1f5c9373506e418a9c278d3c90405dcb.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=EciGLRQHoDs&pp=0gcJCbIJAYcqIYzv" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/4v4JT30jRLet32MpxyI53P?si=d46b640debf249c6" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/taking-beef-out-for-a-ride-uk-invasion-part-1/id1802040066?i=1000706541361" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep7: Beans for Breakfast, Pea Soup UK Invasion Pt. 2</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/7602a61df89a471fbee3402fbd2c8978.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=69ghRSQyjvA" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/48mgPhK1Ub12FNzkzv8W9E?si=a6c9e721e1b34997" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/beans-for-breakfast-pea-soup-for-the-soul-uk-invasion-part-2/id1802040066?i=1000708647864" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
    <div class="juice-card">
      <div class="juice-card__label">Ep8: UK Cheesesteaks, Coconut Milk & Cold Nuggets UK Invasion Pt. 3</div>
      <video
        class="juice-video"
        src="https://cdn.shopify.com/videos/c/o/v/ed6c4a65693d4e86b224ef2e22d8c282.mov"
        autoplay
        muted
        loop
        playsinline
      ></video>
      <div class="juice-card__platforms">
        <a href="https://www.youtube.com/watch?v=Sgt7xtjyjso" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/youtube.png?v=1749100551" alt="YouTube"></a>
        <a href="https://open.spotify.com/episode/1oidwUhiSXcvUyEoQ8htjN?si=ca158e1fe4a94a02" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/spotify.png?v=1749100551" alt="Spotify"></a>
        <a href="https://podcasts.apple.com/gb/podcast/uk-cheesesteaks-coconut-milk-cold-nuggets-uk-invasion/id1802040066?i=1000709610005" class="juice-platform-btn"><img src="https://cdn.shopify.com/s/files/1/0839/0154/6770/files/applemusic.png?v=1749100551" alt="Apple Music"></a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Juice Carousel",
  "settings": [],
  "presets": [
    {
      "name": "Juice Carousel",
      "category": "Video"
    }
  ]
}
{% endschema %} 